*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
Backend/auth.json
Backend/node_modules
Backend/public/build
Backend/public/hot
Backend/public/storage
Backend/storage/*.key
Backend/storage/pail
Backend/vendor
Backend/Homestead.json
Backend/Homestead.yaml
Thumbs.db

Microservice/venv
Microservice/ApiGateway/_pycache_
Microservice/ApiGateway/node_modules
Microservice/Customer-service/_pycache_
Microservice/Order-service/_pycache_
Microservice/Product-service/_pycache_
